services:

  base:
    image: localhost/omeka-base:4.1.1
    build:
      context: ../../base
      args:
        OMEKA_S_VERSION: ${ENV_OMEKA_S_VERSION}
  solr:
    image: docker.io/library/solr:9.10.0
    container-name: ostindiska_solr
    command: ["solr-precreate", "omeka"]
    environment:
      SOLR_OPTS: -Dsolr.jetty.host=0.0.0.0
    volumes:
      - ostindiska_index:/var/solr
  ostindiska_db:
    image: docker.io/library/mariadb:latest
    depends_on:
      - base
    environment:
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_ROOT_USER: ${ENV_MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${ENV_MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
    volumes:
      - ostindiska_db:/var/lib/mysql
    ports:
      - ${ENV_DB_PORTS}
  ostindiska_web:
    build: 
      context: .
      args:
        MODULE_AdvancedResourceTemplate_VERSION: ${MODULE_AdvancedResourceTemplate_VERSION}
        MODULE_AnalyticsSnippet_VERSION: ${MODULE_AnalyticsSnippet_VERSION}
        MODULE_Common_VERSION: ${MODULE_Common_VERSION}
        MODULE_CSSEditor_VERSION: ${MODULE_CSSEditor_VERSION}
        MODULE_CSVImport_VERSION: ${MODULE_CSVImport_VERSION}
        MODULE_CustomVocab_VERSION: ${MODULE_CustomVocab_VERSION}
        MODULE_FacetedBrowse_VERSION: ${MODULE_FacetedBrowse_VERSION}
        MODULE_Search_VERSION: ${MODULE_Search_VERSION}
        MODULE_Solr_VERSION: ${MODULE_Solr_VERSION}
        MODULE_Internationalisation_VERSION: ${MODULE_Internationalisation_VERSION}
        MODULE_NumericDataTypes_VERSION: ${MODULE_NumericDataTypes_VERSION}
        MODULE_Taxonomy_VERSION: ${MODULE_Taxonomy_VERSION}
        THEME_Foundation_VERSION: ${THEME_Foundation_VERSION}
    ports:
      - ${ENV_PORTS}
    depends_on:
      - ostindiska_db
      - solr
    environment:
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
      MYSQL_HOST: ostindiska_db
    volumes:
      - ${ENV_VOLUME}

volumes:
  ostindiska_db:
  ostindiska_index:
