services:

  base:
    image: localhost/omeka-base:4.1.1
    build:
      context: ../../base
      args:
        OMEKA_S_VERSION: "4.1.1"

  solr:
    image: docker.io/library/solr:9.10.0
    container_name: ostindiska-solr
    command: ["solr-precreate", "omeka", "_default"]
    security_opt:
      - no-new-privileges:true
    environment:
      SOLR_OPTS: -Dsolr.jetty.host=0.0.0.0
    volumes:
      - ostindiska_index:/var/solr

  ostindiska-db:
    image: docker.io/library/mariadb:latest
    container_name: ostindiska-db
    depends_on:
      - base
    environment:
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_ROOT_USER: ${ENV_MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${ENV_MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
    volumes:
      - ostindiska_db:/var/lib/mysql
    ports:
      - ${ENV_DB_PORTS}

  ostindiska-web:
    container_name: ostindiska-web
    build: 
      context: .
      args:
        MODULE_AdvancedResourceTemplate_VERSION: "3.4.45"
        MODULE_AnalyticsSnippet_VERSION: "3.4.5"
        MODULE_BlockPlus_VERSION: "3.4.42"
        MODULE_Common_VERSION: "3.4.72"
        MODULE_CSSEditor_VERSION: "1.3.1"
        MODULE_CSVImport_VERSION: "2.6.2"
        MODULE_CustomVocab_VERSION: "2.0.2"
        MODULE_Datavis_VERSION: "1.4.0"
        MODULE_FacetedBrowse_VERSION: "1.8.0"
        MODULE_Internationalisation_VERSION: "3.4.17"
        MODULE_NumericDataTypes_VERSION: "1.13.0"
        MODULE_Search_VERSION: "0.17.5"
        MODULE_Solr_VERSION: "0.20.2"
        MODULE_Taxonomy_VERSION: "0.9.2"
        THEME_Foundation_VERSION: "1.5.3"
    ports:
      - ${ENV_PORTS}
    depends_on:
      - ostindiska-db
      - solr
    environment:
      MYSQL_DATABASE: ${ENV_MYSQL_DATABASE}
      MYSQL_USER: ${ENV_MYSQL_USER}
      MYSQL_PASSWORD: ${ENV_MYSQL_PASSWORD}
      MYSQL_HOST: ostindiska-db
    volumes:
      - ${ENV_VOLUME}

volumes:
  ostindiska_db:
  ostindiska_index:
