services:

  base:
    image: localhost/omeka-base:4.1.1
    build:
      context: ../../base

  ostindiska-db:
    image: docker.io/library/mariadb:11.8.5
    container_name: ostindiska-db
    depends_on:
      - base
    environment:
      MARIADB_DATABASE: "ostindiska"
      MARIADB_ROOT_USER: "root"
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/ost-mysql-root-pw
      MARIADB_USER: "ostindiska"
      MARIADB_PASSWORD_FILE: /run/secrets/ost-mysql-pw
    volumes:
      - ostindiska_db:/var/lib/mysql
    ports:
      - ${ENV_DB_PORTS}
    secrets:
      - ost-mysql-root-pw
      - ost-mysql-pw
    networks:
      - ostindiska-net

  ostindiska-web:
    container_name: ostindiska-web
    build: 
      context: .
      args:
        MODULE_AdvancedResourceTemplate_VERSION: "3.4.45"
        MODULE_AdvancedSearch_VERSION: "3.4.54"
        MODULE_AnalyticsSnippet_VERSION: "3.4.5"
        MODULE_AnnotationProfiles_VERSION: "0.1.0"
        MODULE_BlockPlus_VERSION: "3.4.42"
        MODULE_CleanUrl_VERSION: "3.17.10"
        MODULE_Common_VERSION: "3.4.74"
        MODULE_CSSEditor_VERSION: "1.3.1"
        MODULE_CSVImport_VERSION: "2.6.2"
        MODULE_CustomVocab_VERSION: "2.0.2"
        MODULE_Datavis_VERSION: "1.4.0"
        MODULE_FacetedBrowse_VERSION: "1.8.0"
        MODULE_Internationalisation_VERSION: "3.4.17"
        MODULE_NumericDataTypes_VERSION: "1.13.0"
        MODULE_Reference_VERSION: "3.4.56"
        MODULE_Taxonomy_VERSION: "0.9.2"
        MODULE_Thesaurus_VERSION: "3.4.22"
    ports:
      - ${ENV_PORTS}
    depends_on:
      - ostindiska-db
    environment:
      MARIADB_DATABASE: "ostindiska"
      MARIADB_USER: "ostindiska"
      MARIADB_PASSWORD_FILE: /run/secrets/ost-mysql-pw
      MARIADB_HOST: "ostindiska-db"
    volumes:
      - ${ENV_VOLUME}
    secrets:
      - ost-mysql-pw
    networks:
      - ostindiska-net

volumes:
  ostindiska_db:

secrets:
  ost-mysql-root-pw:
    external: true
  ost-mysql-pw:
    external: true

networks:
  ostindiska-net: {}
