services:

  base:
    image: localhost/omeka-base:4.1.1
    build:
      context: ../../base
  saga-db:
    image: docker.io/library/mariadb:11.8.5
    container_name: saga-db
    depends_on:
      - base
    environment:
      MARIADB_DATABASE: "saga"
      MARIADB_ROOT_USER: "root"
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/saga-mysql-root-pw
      MARIADB_USER: "saga"
      MARIADB_PASSWORD_FILE: /run/secrets/saga-mysql-pw
    volumes:
      - saga_db:/var/lib/mysql
    ports:
      - ${ENV_DB_PORTS}
    secrets:
      - saga-mysql-root-pw
      - saga-mysql-pw  
  saga-web:
    container_name: saga-web
    build: 
      context: .
      args:
        MODULE_AdvancedResourceTemplate_VERSION: "3.4.45"
        MODULE_AnalyticsSnippet_VERSION: "3.4.5"
        MODULE_AnalyticsSnippetPiwik_VERSION: "3.4.8"
        MODULE_ApiInfo_VERSION: "3.4.12"
        MODULE_BlockPlus_VERSION: "3.4.42"
        MODULE_BulkEdit_VERSION: "3.4.37"
        MODULE_CleanUrl_VERSION: "3.17.10"
        MODULE_Common_VERSION: "3.4.72"
        MODULE_CopyResources_VERSION: "1.0.1"
        MODULE_CSSEditor_VERSION: "1.3.1"
        MODULE_CSVImport_VERSION: "2.6.2"
        MODULE_CustomVocab_VERSION: "2.0.2"
        MODULE_FacetedBrowse_VERSION: "1.8.0"
        MODULE_ImageAnnotate_VERSION: "1.1.0"
        MODULE_ItemCarouselBlock_VERSION: "1.4.1"
        MODULE_Mapping_VERSION: "2.2.0"
        MODULE_NumericDataTypes_VERSION: "1.13.0"
        MODULE_Timeline_VERSION: "3.4.27"
        THEME_Freedom_VERSION: "1.0.7"
    ports:
      - ${ENV_PORTS}
    depends_on:
      - saga-db
    environment:
      MARIADB_DATABASE: "saga"
      MARIADB_USER: "saga"
      MARIADB_PASSWORD_FILE: /run/secrets/saga-mysql-pw
      MARIADB_HOST: "saga-db"
    volumes:
      - ${ENV_VOLUME}
    secrets:
      - saga-mysql-pw

volumes:
  saga_db:

secrets:
  saga-mysql-root-pw:
    external: true
  saga-mysql-pw:
    external: true